<div class="cart-item" data-id="\{{this.id}}">
    <div class="product-box">
        <div class="left-item">
            <input type="checkbox" class="check" \{{#if this.checked}} checked \{{/if}}>
            <a href="#ссылка_на_товар"><img class="productImg" src="\{{this.image}}" alt="фото продукта"></a>
            <div class="info-product">
                <a href="#ссылка_на_товар">
                    <p class="productName">\{{this.name}}</p>
                </a>
                <p class="productWeight">\{{this.weight}} кг</p>
            </div>
        </div>
        <p class="productPrice">\{{this.cost}} ₽</p>
        <div class="counter-box">
            <div class="counter">
                <a class="buttonCountMinus" onclick="minus(this)"><span class="minus">–</span></a>
                <div class="buttonCountNumber">\{{this.quantity}}</div>
                <a class="buttonCountPlus" onclick="plus(this)"><span class="plus">+</span></a>
            </div>
            <p class="priceOne">\{{this.price}} ₽/шт</p>
        </div>
    </div>
    <div class="line">
        <hr>
    </div>
</div>