<div class="overlay"></div>

<div class="cartModal">
    <span class="closeModalCart" title="Закрыть Modal">&times;</span>
    <h2>Ваш заказ оформлен</h2>
    <h3>Номер заказа #\{{orderId}}</h3>
    <p class="textModal bold">Подробности заказа</p>
    <div class="box-item">
        <p class="textModal">Товары(\{{quantity}}) на сумму</p>    
        <p class="textModal bold">\{{cost}}₽</p>
    </div>
    <div class="box-item">
        <p class="textModal">Сумма скидки</p>    
        <p class="textModal bold">\{{discount}} ₽</p>
    </div>
    <div class="box-item">
        <p class="textModal">Общий вес</p>    
        <p class="textModal bold">\{{weight}} кг</p>
    </div>
    <div class="box-item">
        <p class="textModal">Доставка</p>    
        <p class="textModal bold">\{{#if address}}Курьером\{{else}}Самовывоз\{{/if}}</p>
    </div>

    <div class="line">
        <hr class="outline">
    </div>

    <div class="box-item">
        <p class="textModal bold">Итого:</p>
        <p class="textModal bold priceModal">\{{costWithDiscount}}₽</p>
    </div>
</div>