<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/SemanticUI-2.8.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/semantic.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/dropdown.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/transition.min.js"></script>

    <title>Категории</title>

</head>
<body>

    <h2>{{#if category}}Редактирование{{else}}Создание{{/if}} категории</h2>
    <form class="admin-form ui form" method="POST">
        
        {{#if category}}
        <input type="hidden" name="id" value="{{category.id}}">
        {{/if}}

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Название
                </div>
                <input type="text" name="name" value="{{category.name}}" required>
            </div>
        </div>
        
        <div class="field">
            <label>Родительская категория</label>
            <div class="ui search selection dropdown dropdown-parentCategory">
                <input type="hidden" name="parentCategory">
                <i class="dropdown icon"></i>
                <div class="default text">Родительская категория</div>
                <div class="menu">
                    {{#each parentCategoryList}}                    
                    <div class="item {{#eq this.id ../category.parentCategory.id}}active selected{{/eq}}"
                        data-value="{{this.id}}">
                        {{this.name}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="showInHeader" name="showInHeader" {{#if category.showInHeader}} checked {{/if}} value="true">
                <label for="showInHeader">Сссылка в шапке</label>
            </div>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="showInFooter" name="showInFooter" {{#if category.showInFooter}} checked {{/if}} value="true">
                <label for="showInFooter">Ссылка в подвале</label>
            </div>
        </div>

        <button class="ui green button" type="submit">{{#if category}}Сохранить{{else}}Создать{{/if}}</button>
    
    </form>

   
    <table id="category" class="ui celled table dataTable">
        <thead>
            <th>Название</th>
            <th>Родительская категория</th>
            <th>Наличие в шапке</th>
            <th>Наличие в подвале</th>
            <th></th>
            <th></th>
        </thead>
        
    </table>
    <script>
        $(document).ready( function () {
        $('#category').DataTable({
            ajax: {
                url: '/admin/category/loadItems',
                dataSrc: 'data',
                type:"POST",
            },
            serverSide: true,
            columns: [
                { data: 'name' },
                { 
                    data: 'parentCategory',
                    render: (data) => data ? data.name : '-'
                },
                { data: 'showInHeader', render: (data) => data ? 'Добавлен' : 'Нет' },
                { data: 'showInFooter', render: (data) => data ? 'Добавлен' : 'Нет' },
                { 
                    data: null,
                    render: (data, type, row) => `<a href="/admin/category?id=${row.id}"><img src="/img/edit.svg"></a>`
                },
                { 
                    data: null,
                    render: (data, type, row) => `<a href="/admin/category/${row.id}/delete"><img src="/img/delete.svg"></a>`
                },
            ]
        });
        $('div.dropdown-parentCategory')
        .dropdown('set selected', {{ category.parentCategory.id }})
        .dropdown({ clearable: true });
        } );
    </script>
</body>
</html>