<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <title>store</title>

</head>
<body>

    <form class="admin-form" method="POST">
        <p>{{#if category}}Редактирование{{else}}Создание{{/if}} категории</p>
        {{#if category}}<input type="hidden" name="id" value="{{category.id}}">{{/if}}
        <label>Название<input type="text" placeholder="Название" name="name" value="{{category.name}}"></label>
        <input class="btn" type="submit">

    </form>

   
    <table id="category">
        <thead>
            <th>Название</th>
            <th></th>
            <th></th>
        </thead>
        {{#each categoryList}}
            <tr>
                <td>{{this.name}}</td>
                <td><a href="/admin/category?id={{this.id}}">edit</a></td>
                <td><a href="/admin/category/{{this.id}}/delete">delete</a></td>
            </tr>
        {{/each}}
    </table>
    <script>
        $(document).ready( function () {
        $('#category').DataTable(); 
        } );
    </script>
</body>
</html>