<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="h8ttps://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Главная</title>
</head>

<body>
    <div class="overlay"></div>
    <div class="modal">
        <span class="close" onclick="closeModal()" title="Закрыть Modal">&times;</span>
        <div class="head-modal">
            <a class="login-btn active" onclick="select(event)">вход</a>
            <a class="reg-btn" onclick="select(event)">регистрация</a>
        </div>
        <form class="modal-content-login animate" action="/auth/login" method="post">
            <div>
                <label for="username">Логин</label>
                <input class="name" type="text" placeholder="Введите имя пользователя" name="username" required>
            </div>
            <div>
                <label for="password">Пароль</label>
                <input class="password" type="password" placeholder=" Ведите пароль" name="password" required>
            </div>
            <div class="button-modal">
                <button type="submit" class="singIn">Войти в аккаунт</button>
            </div>
        </form>

        <form class="modal-content-register animate" action="" method="post">
            <div>
                <label for="username">Логин</label>
                <input class="name" type="text" placeholder="Введите имя пользователя" name="username" required>
            </div>

            <div class="reg">
                <label for="tel">Телефон</label>
                <input class="telPhone" type="tel" placeholder="Ведите номер телефона" name="tel"
                    pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
            </div>

            <div>
                <label for="password">Пароль</label>
                <input class="password" type="password" placeholder=" Ведите пароль" name="password" required>
            </div>

            <div class="reg">
                <label for="psw">Повторите пароль</label>
                <input class="password" type="password" placeholder=" Повторите пароль" name="psw" required>
            </div>

            <div class="saveMe">
                <label class="save" for="save">
                    <input class="checkbox" type="checkbox" name="remember" id="save"> Запомнить меня
                </label>
            </div>

            <div class="button-modal">
                <button type="submit" class="singIn">Зарегистрироваться</button>
            </div>
        </form>
    </div>


    <header>
        <div class="header-left">
            <a href="/" class="headLink"><img class="logo" src="/img/logo.png"></a>
        </div>

        <div class="header-right">

            <div class="header-top">
                <div class="wrapper-search">
                    <form class="form-search" action="">
                        <input type="text" placeholder="Поиск по сайту">
                        <button type="submit"></button>
                    </form>
                </div>

                <div class="wrapper-login-shop">

                    <div class="item">
                        <a class="login" onclick="openModal()">
                            <img class="icon" src="/img/Login.svg" alt="">
                            <p>Профиль</p>
                        </a>
                    </div>
                    <div class="item">
                        <a>
                            <img class="icon" src="/img/Shop.svg" alt="">
                            <p>Корзина</p>
                        </a>
                    </div>

                </div>
            </div>

            <div class="header-bottom">
                <div class="catalogDropdown">
                    <div class="catalogButton" onclick="catalogDisplay()">
                        <img src="/img/Burger.svg" alt="">
                        <p>Каталог</p>
                    </div>
                    <div class="catalogContent">
                        <span class="closeCatalog" onclick="catalogDisplay()" title="Закрыть каталог">&times;</span>
                        <div class="category-box">

                            <ul>
                                <p class="headText">Категории</p>
                                <li>Краски</li>
                                <li>Спальни</li>
                                <li>Диваны</li>
                                <li>Кресла-качалки</li>
                                <li>Строительные смеси</li>
                                <li>Товары для дома</li>
                                <li>Кухни</li>
                            </ul>

                            <ul>
                                <p class="headText">Услуги</p>
                                <li>Ремонт под ключ</li>
                                <li>Калировка</li>
                                <li>Отделка</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <nav class="navigation">
                    <div><a href="#">Кровати и диваны</a></div>
                    <div><a href="#">Товары для дома</a></div>
                    <div><a href="#">Кухни</a></div>
                    <div><a href="#">Потолки</a></div>
                    <div><a href="#">Строительные смеси</a></div>
                    <div><a href="#">Кресла качалки</a></div>
                </nav>
            </div>
        </div>

    </header>

    <div class="line">
        <hr>
    </div>

    <main>
        <article>
            <section class="wrapperSlider">
                <div class="swiper mySwiperHome">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="#"><img src="/img/slide1.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide2.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide3.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide4.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide5.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide6.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide7.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide8.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide9.png" alt="Горячий товар"></a></div>
                    </div>
                    {{!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> --}}
                    <div class="swiper-pagination"></div>
                </div>

            </section>

            <section class="content">

                <h2>Рекомендации для вас</h2>
                <div class="content-box">
                    {{#each recommendedProducts}}
                    <div class="item">
                        <a href="/product/{{this.id}}">
                            <img class="picture" src="/img/{{this.foto}}" alt="{{this.foto}}">
                            <p class="name">{{this.productName}}</p>
                            <p class="category">{{this.category.name}}</p>
                            <p class="price">{{this.price}} ₽</p>
                            <a href="#" class="addBusket">В корзину</a>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <a href="#" class="more">Показать ещё</a>
            </section>

            <section class="map">
                <h2>Мы на картах</h2>
                <div class="map-box">
                    <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=fasle"></script>
                </div>
                {{!-- <div class="map-box">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&amp;source=constructor&scroll=false"
                        width="100%" height="700" frameborder="0" style="pointer: none;"></iframe>
                </div>--}}
            </section>

        </article>

    </main>

    <footer>
        <div class="footer-head">
            <div class="footer-left">
                <a href="#"><img class="under-logo" src="/img/logo.png" alt="Логотип " РИО" "></a>
                <div class=" wrapper-massegers">
                    <p class="headText">Социальные сети и мессенджеры</p>
                    <div class="link-list">
                        <a href=""><img src="/img/whats.svg" alt=""></a>
                        <a href=""><img src="/img/inst.svg" alt=""></a>
                        <a href=""><img src="/img/vk.svg" alt=""></a>
                        <a href=""><img src="/img/twit.svg" alt=""></a>
                    </div>
                    <a href="#phone" class="phone">+7 (989) 322 22 22</a>
                    <a class="politics" href="">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer-center">
            <p class="headText">Товары</p>
            <div class="container">
                <ul class="hots-links">
                    <a href="#">
                        <li>Спальни и кровати</li>
                    </a>
                    <a href="#">
                        <li>Спальни</li>
                    </a>
                    <a href="#">
                        <li>Диваны</li>
                    </a>
                    <a href="#">
                        <li>Креслы-качалки</li>
                    </a>
                    <a href="#">
                        <li>Строительные смеси</li>
                    </a>
                    <a href="#">
                        <li>Товары для дома</li>
                    </a>
                    <a href="#">
                        <li>Кухни</li>
                    </a>
                </ul>
                <ul class="hots-links">
                    <a href="#">
                        <li>Украшения для дома</li>
                    </a>
                    <a href="#">
                        <li>Мелочи для ремонта</li>
                    </a>
                    <a href="#">
                        <li>Натяжные потолки</li>
                    </a>
                    <a href="#">
                        <li>Тканевые диваны</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <p class="headText">Услуги</p>
            <ul class="hots-links">
                <a href="#">
                    <li>Украшения для дома</li>
                </a>
                <a href="#">
                    <li>Мелочи для ремонта</li>
                </a>
                <a href="#">
                    <li>Натяжные потолки</li>
                </a>
                <a href="#">
                    <li>Тканевые диваны</li>
                </a>
            </ul>
        </div>
        </div>

        <div class="footer-bottom">
            <p>Цены в местах выдачи товаров могут отличаться от цен, указанных на сайте. Внешний вид товаров и упаковки
                может отличаться от изображенных на Сайте</p>

            <p>Обращаем ваше внимание, что данный интернет-сайт и материалы, размещенные на нем, носят исключительно
                информационный характер и ни при каких условиях не являются публичной офертой, определяемой положениями
                статьи 437 Гражданского кодекса РФ</p>
        </div>

    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>