{{#>head}}{{/head}}

<body>
    {{#>loginModal}}{{/loginModal}}
    {{#>header}}{{/header}}

    <div class="line">
        <hr>
    </div>

    <main>
        <article>
            <section class="wrapperSlider">
                <div class="swiper mySwiperHome">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="#"><img src="/img/slide1.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide2.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide3.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide4.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide5.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide6.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide7.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide8.png" alt="Горячий товар"></a></div>
                        <div class="swiper-slide"><a href="#"><img src="/img/slide9.png" alt="Горячий товар"></a></div>
                    </div>
                    {{!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> --}}
                    <div class="swiper-pagination"></div>
                </div>

            </section>

            <section class="content">

                <h2>Рекомендации для вас</h2>
                <div class="content-box">
                    {{#each recommendedProducts}}
                    <div class="item">
                        <a href="/product/{{this.id}}">
                            <img class="picture" src="/img/product-images/{{this.images.[0]}}" alt="{{this.images.[0]}}">
                            <p class="name">{{this.productName}}</p>
                            <p class="category">{{this.category.name}}</p>
                            <p class="price">{{this.price}} ₽</p>
                            <a href="#" class="addBusket">В корзину</a>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <a href="#" class="more">Показать ещё</a>
            </section>

            <section class="map">
                <h2>Мы на картах</h2>
                <div class="map-box">
                    <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=fasle"></script>
                </div>
                {{!-- <div class="map-box">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&amp;source=constructor&scroll=false"
                        width="100%" height="700" frameborder="0" style="pointer: none;"></iframe>
                </div>--}}
            </section>
        </article>
    </main>
    {{#>footer}}
        <script src="/js/cart.js"></script>
    {{/footer}}
</body>

</html>