
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/SemanticUI-2.8.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/semantic.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/dropdown.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/transition.min.js"></script>
    <title>Производители</title>
</head>
<body>
    <div class="back-absolute">
        <a href="/admin"><img src="/img/Arrow2.svg" alt="стрелка"></a>
    </div>

    <h2>{{#if manufacturer}}Редактирование{{else}}Создание{{/if}} производителя</h2>
    <form class="admin-form ui form" method="POST">
        
        {{#if manufacturer}}
            <input type="hidden" name="id" value="{{manufacturer.id}}">
        {{/if}}

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Название
                </div>
                <input type="text" name="name" value="{{manufacturer.name}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Страна
                </div>
                <input type="text" name="country" value="{{manufacturer.country}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Город
                </div>
                <input type="text" name="city" value="{{manufacturer.city}}" required>
            </div>
        </div>          

        <button class="ui green button" type="submit">{{#if manufacturer}}Сохранить{{else}}Создать{{/if}}</button>

    </form>


  
    <table id="manufacturer" class="ui celled table dataTable">
        <thead>
            <th>Название</th>
            <th>Страна</th>
            <th>Город</th>
            <th></th>
            <th></th>
        </thead>
    </table>
    <script>
        $(document).ready( function () {
        $('#manufacturer').DataTable({
            ajax: {
                url:'/admin/manufacturer/loadItems',
                dataSrc: 'data',
                type: 'POST',
            },
            serverSide: true,
            columns: [
                {data: 'name'},
                {
                    data: 'country',
                    render: (data) => data ? data : '-'
                },
                {
                    data: 'city',
                    render: (data) => data ? data : '-'
                },
                { 
                    data: null,
                    render: (data, type, row) => `<a href="/admin/manufacturer?id=${row.id}"><img src="/img/edit.svg"></a>`
                },
                { 
                    data: null,
                    render: (data, type, row) => `<a href="/admin/manufacturer/${row.id}/delete"><img src="/img/delete.svg"></a>`
                },
            ]
        }); 
        } );
    </script>
</body>
</html>