
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <title>store</title>
</head>
<style>
    table{
        border:1px solid black;
        padding:20px;
    }
    th,td{
        border:1px solid black;
        padding:10px;
    }
    form{
        margin:20px;
        
    }
    input{
        margin-bottom:10px;
        margin-left:10px;
    }
    label{
        display: block;
    }
    .btn{
        padding:10px;
        background-color:green;
        cursor:pointer;
        color:white;
    }
    form p {
        font-size:21px;
        font-weight:bold;
    }
    td a{
        text-decoration:none;
        color:red;
        cursor:pointer;
    }
    form{
        border: 1px solid black;
        width:300px;
        text-align:center;
    }
</style>


<body>

    <form method="POST">
        <p>{{#if manufacturer}}Редактирование{{else}}Создание{{/if}} производителя</p>
        {{#if manufacturer}}<input type="hidden" name="id" value="{{manufacturer.id}}">{{/if}}
        <label>Название<input type="text" placeholder="Название" name="name" value="{{manufacturer.name}}"></label>
        <label>Страна<input type="text" placeholder="Страна" name="country" value="{{manufacturer.country}}"></label>
        <label>Город<input type="text" placeholder="Город" name="city" value="{{manufacturer.city}}"></label>
        <input class="btn" type="submit">
    </form>


  
    <table id="manufacturer">
        <thead>
            <th>Название</th>
            <th>Страна</th>
            <th>Город</th>
            <th></th>
            <th></th>
        </thead>
            {{#each manufacturerList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.country}}</td>
            <td>{{this.city}}</td>
            <td><a href="manufacturer?id={{this.id}}">edit</a></td>
            <td><a href="manufacturer/{{this.id}}/delete">delete</a></td>
            
        </tr>
            {{/each}}
    </table>
    <script>
        $(document).ready( function () {
        $('#manufacturer').DataTable(); 
        } );
    </script>
</body>
</html>