<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


    <title>store</title>
</head>

<body>


    <table id="order">

        <thead>
            <th>Номер заказа</th>
            <th>Состав заказа</th>
            <th>Статус</th>
            <th>Цена</th>
            <th>Адрес</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {{#each orderList}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.orderProducts}}</td>
                    <td></td>
                    <td>{{this.totalCost}}</td>
                    <td>{{this.order.address}}</td>
                    <td><a href="/admin/product?id={{this.id}}">edit</a></td>
                    <td><a href="/admin/product/{{this.id}}/delete">delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="/js/filter.js"></script>
    <script>
        $(document).ready( function () {
        $('#order').DataTable(); 
        } );
    </script>
</body>
</html>