<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/SemanticUI-2.8.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/semantic.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/dropdown.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/transition.min.js"></script>
    <title>Заказы</title>
</head>

<body>
    <div class="back-absolute-for-order">
        <a href="/admin"><img src="/img/arrow2.svg" alt="стрелка"></a>
    </div>

    <table id="order" class="ui celled table dataTable">

        <thead>
            <th>Номер заказа</th>
            <th>Состав заказа</th>
            <th>Статус</th>
            <th>Цена</th>
            <th>Адрес</th>
            <th>Телефон клиента</th>
        </thead>
        <tbody>
            {{#each orderList}}
            <tr>
                <td id="orderId">{{this.id}}</td>
                <td>
                    <ol>
                        {{#each this.orderProducts}}
                        <li>{{this.product.productName}} - {{this.quantity}} шт.</li>
                        {{/each}}
                    </ol>
                </td>
                <td>
                    {{#if this.completed}}Завершен{{else}}
                    Выполняется
                    <button id="complete">Завершить</button>
                    {{/if}}
                </td>
                <td>{{this.totalCost}} ₽</td>
                <td>{{this.address}}</td>
                <td>{{this.user.telephoneNumber}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#order').DataTable();
        });
    </script>
    <script>
        $('button#complete').click(async function () {
            const orderId = $(this).parent().siblings('#orderId').html()
            await fetch(`complete/${orderId}`, {
                method: 'POST',
            })
            document.location.reload()
        })
    </script>
</body>

</html>