<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


    <title>store</title>
</head>

<body>


    <table id="order">

        <thead>
            <th>Номер заказа</th>
            <th>Состав заказа</th>
            <th>Статус</th>
            <th>Цена</th>
            <th>Адрес</th>
        </thead>
        <tbody>
            {{#each orderList}}
            <tr>
                <td id="orderId">{{this.id}}</td>
                <td>
                    <ol>
                        {{#each this.orderProducts}}
                        <li>{{this.product.productName}} - {{this.quantity}} шт.</li>
                        {{/each}}
                    </ol>
                </td>
                <td>
                    {{#if this.completed}}Завершен{{else}}
                    Выполняется
                    <button id="complete">Завершить</button>
                    {{/if}}
                </td>
                <td>{{this.totalCost}} ₽</td>
                <td>{{this.address}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#order').DataTable();
        });
    </script>
    <script>
        $('button#complete').click(async function () {
            const orderId = $(this).parent().siblings('#orderId').html()
            await fetch(`complete/${orderId}`, {
                method: 'POST',
            })
            document.location.reload()
        })
    </script>
</body>

</html>