<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/SemanticUI-2.8.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/semantic.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/dropdown.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/transition.min.js"></script>
    <title>Продукты</title>
</head>

<body>

    <h2>{{#if product}}Редактирование{{else}}Создание{{/if}} продукта</h2>
    <form enctype="multipart/form-data" class="admin-form ui form" method="POST">

        {{#if product}}
            <input type="hidden" name="id" id="id" value="{{product.id}}">
        {{/if}}

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Название
                </div>
                <input type="text" name="productName" value="{{product.productName}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Цена
                </div>
                <input type="number" step="0.01" name="price" value="{{product.price}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Фото</div>
                <input type="file" name="images" multiple accept=".png,.jpeg,.jpg">
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Цвет
                </div>
                <input type="text" name="color" value="{{product.color}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Вес
                </div>
                <input type="number" step="0.1" name="weight" value="{{product.weight}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    Размер
                </div>
                <input type="text" name="size" value="{{product.size}}" required>
            </div>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="showInSlider" name="showInSlider" {{#if product.showInSlider}} checked
                    {{/if}} value="true">
                <label for="showInSlider">Показывать в слайдере</label>
            </div>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="showInRecommended" name="showInRecommended" {{#if product.showInRecommended}} checked{{/if}}
                    value="true">
                <label for="showInRecommended">Показывать в рекомендациях</label>
            </div>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="isAvailable" name="isAvailable" {{#if product.isAvailable}} checked {{/if}}value="true">
                <label for="isAvailable">Есть в наличии</label>
            </div>
        </div>

        <div class="field">
            <label for="">Описание продукта</label>
            <textarea name="description" rows="10" cols="50">{{product.description}}</textarea>
        </div>

        <div class="field">
            <label>Категория</label>
            <div class="ui search selection dropdown dropdown-category">
                <input type="hidden" name="category">
                <i class="dropdown icon"></i>
                <div class="default text">Категория</div>
                <div class="menu">
                    {{#each categoryList}}
                    <div class="item {{#eq this.id ../product.category.id}}active selected{{/eq}}"
                        data-value="{{this.id}}">
                        {{this.name}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="field">
            <label>Производитель</label>
            <div class="ui search selection dropdown dropdown-manufacturer">
                <input type="hidden" name="manufacturer">
                <i class="dropdown icon"></i>
                <div class="default text">Производитель</div>
                <div class="menu">
                    {{#each manufacturerList}}
                    <div class="item {{#eq this.id ../product.manufacturer.id}}active selected{{/eq}}"
                        data-value="{{this.id}}">
                        {{this.name}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <button class="ui green button" type="submit">{{#if product}}Сохранить{{else}}Создать{{/if}}</button>

    </form>

    <table id="product" class="ui celled table dataTable">

        <thead>
            <th>Название</th>
            <th>Цена</th>
            <th>Фото</th>
            <th>Цвет</th>
            <th>Вес</th>
            <th>Размер</th>
            <th>Наличие</th>
            <th>Слайдер</th>
            <th>Рекомендации</th>
            <th>Категория</th>
            <th>Производитель</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {{#each productList}}
            <tr>
                <td>{{this.productName}}</td>
                <td>{{this.price}}</td>
                <td>
                    {{#each this.images}}
                    <img src="/img/product-images/{{this}}" width="50px">
                    {{/each}}
                </td>
                <td>{{this.color}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.size}}</td>
                <td>{{#if this.isAvailable}}Есть{{else}}Нет{{/if}}</td>
                <td>{{#if this.showInSlider}}Добавлен{{else}}Нет{{/if}}</td>
                <td>{{#if this.showInRecommended}}Добавлен{{else}}Нет{{/if}}</td>
                <td>{{this.category.name}}</td>
                <td>{{this.manufacturer.name}}</td>
                <td><a href="/admin/product?id={{this.id}}"><img src="/img/edit.svg"></a></td>
                <td><a href="/admin/product/{{this.id}}/delete"><img src="/img/delete.svg"></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#product').DataTable();
            $('div.dropdown-category').dropdown('set selected', {{ product.category.id }});
        $('div.dropdown-manufacturer').dropdown('set selected', {{ product.manufacturer.id }});
        });

    </script>
</body>

</html>