<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/productDetail.css">
    <title>Продукт</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="modal">
        <form class="modal-content-login animate" action="" method="post">
            <div>
                <span onclick="closeModal()" class="close" title="Закрыть Modal">&times;</span>
            </div>
            <div class="head-modal">
                <a href="#" class="login-btn active" onclick="select()">вход</a>
                <a href="#" class="reg-btn" onclick="select()">регистрация</a>
            </div>
            <div class="modal-data">
                <div>
                    <label for="uname">Логин</label>
                    <input class="name" type="text" placeholder="Введите имя пользователя" name="uname" required>
                </div>

                <div class="reg">
                    <label for="tel">Телефон</label>
                    <input class="telPhone" type="tel" placeholder="Ведите номер телефона" name="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
                </div>
                
                <div>
                    <label for="psw">Пароль</label>
                    <input class="password" type="password" placeholder=" Ведите пароль" name="psw" required>
                </div>

                <div class="reg">
                    <label for="psw">Пароль</label>
                    <input class="password" type="password" placeholder=" Повторите пароль" name="psw" required>
                </div>
            
                <div class="saveMe">
                    <label class="save" for="save">
                        <input class="checkbox" type="checkbox" name="remember" id="save"> Запомнить меня
                    </label>
                </div>
                
            </div>
            <div class="button-modal">
                <button type="submit" class="singIn">Войти в аккаунт</button>
            </div>
        </form>

    </div>

    <header>
    <div class="header-left">
        <a href="/" class="headLink"><img class="logo" src="/img/logo.png"></a>
    </div>
        
    <div class="header-right">
        
        <div class="header-top">
            <div class="wrapper-search">
                <form class="form-search" action="">
                    <input type="text" placeholder="Поиск по сайту">
                    <button type="submit"></button>
                </form>
            </div>
            
            <div class="wrapper-login-shop">

                <div class="item">
                    <a class="login" href="#" onclick="openModal()">
                        <img class="icon" src="/img/Login.svg" alt="">
                        <p>Профиль</p>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img class="icon" src="/img/Shop.svg" alt="">
                        <p>Корзина</p>
                    </a>
                </div>

            </div>
        </div>
        
        <div class="header-bottom">

            <a class="catalog" href="">
                <img src="/img/Burger.svg" alt="">
                <p>Каталог</p>
            </a>
            
            <nav class="navigation">
                <div><a href="#">Кровати и диваны</a></div>
                <div><a href="#">Товары для дома</a></div>
                <div><a href="#">Кухни</a></div>
                <div><a href="#">Потолки</a></div>
                <div><a href="#">Строительные смеси</a></div>
                <div><a href="#">Кресла качалки</a></div>
            </nav>
        </div>
    </div>
    </header>

    <div class="line">
        <hr>
    </div>

    <main>
        <article>
            {{#with product }}
            <div class="navigation-link"> 
                <a href="/">Каталог</a> > 
                <a href="#">Раздел</a> > 
                <a href="#">{{this.category.name}}</a> > 
                <a href="#">{{this.productName}}</a>
            </div>
            {{/with}}
            <section class="productDetail-wrapper">

                <div class="swiper mySwiperDetail">
                    <div class="swiper-wrapper">
                        {{#with product}}
                            <div class="swiper-slide"><img src="/img/{{this.foto}}" alt="{{this.foto}}"></div>
                            <div class="swiper-slide"><img src="/img/{{this.foto}}" alt="{{this.foto}}"></div>
                            <div class="swiper-slide"><img src="/img/{{this.foto}}" alt="{{this.foto}}"></div>
                            <div class="swiper-slide"><img src="/img/{{this.foto}}" alt="{{this.foto}}"></div>
                        {{/with}}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                
                <div class="product-information">
                    {{#with product}}

                        <div class="name-box">
                            <span class="articul">#{{this.id}}</span>
                            <h2>{{this.productName}}</h2>
                        </div>

                        <div class="price-box">
                            <p class="price">{{this.price}} ₽</p>
                        </div>

                        <div class="btn-box">
                            <a href="#" class="addBusket">В корзину</a> {{!-- как на главной --}}
                            <div id="counter">
                                <a id="buttonCountMinus" onclick="minus()"><img src="/img/minus.svg"></a>
                                    <div id="buttonCountNumber">1</div>
                                <a id="buttonCountPlus" onclick="plus()"><img src="/img/plus.svg"></a>
                            </div>
                        </div>

                        <div class="stock-box">
                            <img src="/img/dot.svg" alt="icon">
                            <p class="text">В наличии {{this.numberOfStock}} штук</p>
                        </div>
                        
                        <div class="delivery-box">
                            <div class="group">
                                <img src="/img/delivery.svg" alt="icon">
                                <p>Доставим</p>
                            </div>
                            <p class="text">от 2000 ₽</p>
                        </div>

                        <div class="pickup-box">
                            <div class="group">
                                <img src="/img/pickup.svg" alt="icon">
                                <p>Самовывоз</p>
                            </div>
                            <p class="text">бесплатно</p>
                        </div>

                        <a href="#specification" class="flag">Характеристики</a>
                    {{/with}}
                </div>  
            </section>

            <section class="description-wrapper">
                <h2>Описание</h2>
                <p class="description">Текст-рыба на русском языке. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
                    Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле. В отличии от lorem ipsum,
                    текст рыба на русском языке наполнит любой макет непонятным<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                    auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis.
                    Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                <a onclick="moreDescription()" id="myBtn">Подробнее ∨</a>
            </section>

            <section class="specification-wrapper" id="specification">
                <h2>Характеристики</h2>
                <div class="specification">
                    {{#with product}}
                        <dl>
                            <dt>Размер</dt>
                            <span class="dots"></span>
                            <dd>{{this.size}}</dd>
                        </dl>
                        <dl>
                            <dt>Вес</dt>
                            <span class="dots"></span>
                            <dd>{{this.weight}}</dd>
                        </dl>
                        <dl>
                            <dt>Цвет</dt>
                            <span class="dots"></span>
                            <dd>{{this.color}}</dd>
                        </dl>
                        <dl>
                            <dt>Категория</dt>
                            <span class="dots"></span>
                            <dd>{{this.category.name}}</dd>
                        </dl>
                        <dl>
                            <dt>Производитель</dt>
                            <span class="dots"></span>
                            <dd>{{this.manufacturer.name}}</dd>
                        </dl>
                        <dl>
                            <dt>Страна</dt>
                            <span class="dots"></span>
                            <dd>{{this.manufacturer.country}}</dd>
                        </dl>
                        <dl>
                            <dt>Город</dt>
                            <span class="dots"></span>
                            <dd>{{this.manufacturer.city}}</dd>
                        </dl> 
                    {{/with}}
                    <a id="myBtn">Скрыть ∧</a>
                </div>
            </section>
        </article>
    </main>

 <footer>
        <div class="footer-head">
            <div class="footer-left">
                <a href="#"><img class="under-logo" src="/img/logo.png" alt="Логотип "РИО" "></a>
                <div class="wrapper-massegers">
                    <p class="headText">Социальные сети и мессенджеры</p>
                    <div class="link-list">
                        <a href=""><img src="/img/whats.svg" alt=""></a>
                        <a href=""><img src="/img/inst.svg" alt=""></a>
                        <a href=""><img src="/img/vk.svg" alt=""></a>
                        <a href=""><img src="/img/twit.svg" alt=""></a>
                    </div>
                    <a href="#phone" class="phone">+7 (989) 322 22 22</a>
                    <a class="politics" href="">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer-center">
                <p class="headText">Товары</p>
                <div class="container">
                    <ul class="hots-links">
                        <a href="#"><li>Спальни и кровати</li></a>
                        <a href="#"><li>Спальни</li></a>
                        <a href="#"><li>Диваны</li></a>
                        <a href="#"><li>Креслы-качалки</li></a>
                        <a href="#"><li>Строительные смеси</li></a>
                        <a href="#"><li>Товары для дома</li></a>
                        <a href="#"><li>Кухни</li></a>
                    </ul>
                    <ul class="hots-links">
                        <a href="#"><li>Украшения для дома</li></a>
                        <a href="#"><li>Мелочи для ремонта</li></a>
                        <a href="#"><li>Натяжные потолки</li></a>
                        <a href="#"><li>Тканевые диваны</li></a>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                 <p class="headText">Услуги</p>
                <ul class="hots-links">
                    <a href="#"><li>Украшения для дома</li></a>
                    <a href="#"><li>Мелочи для ремонта</li></a>
                    <a href="#"><li>Натяжные потолки</li></a>
                    <a href="#"><li>Тканевые диваны</li></a>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Цены в местах выдачи товаров могут отличаться от цен, указанных на сайте. Внешний вид товаров и упаковки может отличаться от изображенных на Сайте</p>
            
            <p>Обращаем ваше внимание, что данный интернет-сайт и материалы, размещенные на нем, носят исключительно информационный характер и ни при каких условиях не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ</p>
        </div>
        
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>