<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


    <title>store</title>
</head>

<body>

    <form class="admin-form" method="POST">
        <h2>{{#if product}}Редактирование{{else}}Создание{{/if}} продукта</h2>
        {{#if product}}
            <input type="hidden" name="id" value="
        {{product.id}}">{{/if}}
        <label>
            Название<input type="text" placeholder="Название" name="productName" value="{{product.productName}}">
        </label>
        <label>
            Цена<input type="number" step="0.01" placeholder="Цена" name="price" value="{{product.price}}">
        </label>
        <label>
            Фото<input type="text" placeholder="Фото" name="foto" value="{{product.foto}}">
        </label>
        <label>
            Цвет<input type="text" placeholder="Цвет" name="color" value="{{product.color}}">
        </label>
        <label>
            Вес<input type="number" step="0.1" placeholder="Вес" name="weight" value="{{product.weight}}">
        </label>
        <label>
            Размер<input type="text" placeholder="Размер x" name="size" value="{{product.size}}">
        </label>
        <label>
            Наличие<input type="number" placeholder="Наличие" name="numberOfStock" value="{{product.numberOfStock}}">
        </label>
        <label>
            Описание<textarea placeholder="Описание продукта" name="description">{{product.description}}</textarea>
        </label>

        <label>Категория

            <select name="category">
                {{#each categoryList}}                    
                    <option {{#eq this.id ../product.category.id}}
                        selected
                    {{/eq}} value="{{this.id}}">{{this.name}}</option>
               {{/each}}
            </select>
        </label>

        <label>Производитель

            <select name="manufacturer">
            {{#each manufacturerList}}                    
                    <option {{#eq this.id ../product.manufacturer.id}}
                        selected
                    {{/eq}} value="{{this.id}}">{{this.name}}</option>
               {{/each}}
            </select>

        </label>

        <input class="btn" type="submit">

    </form>

    <table id="product">

        <thead>
            <th>Название</th>
            <th>Цена</th>
            <th>Фото</th>
            <th>Цвет</th>
            <th>Вес</th>
            <th>Размер</th>
            <th>Наличие</th>
            <th>Категория</th>
            <th>Производитель</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {{#each productList}}
                <tr>
                    
                    <td>{{this.productName}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.foto}}</td>
                    <td>{{this.color}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.size}}</td>
                    <td>{{this.numberOfStock}}</td>
                    <td>{{this.category.name}}</td>
                    <td>{{this.manufacturer.name}}</td>
                    <td><a href="/admin/product?id={{this.id}}">edit</a></td>
                    <td><a href="/admin/product/{{this.id}}/delete">delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- <script src="/js/filter.js"></script> --}}
    <script>
        $(document).ready( function () {
        $('#product').DataTable(); 
        } );
    </script>
</body>
</html>