{{#>head}}{{/head}}

<body>

    {{#>loginModal}}{{/loginModal}}
    {{#>header}}{{/header}}

    <div class="line">
        <hr>
    </div>

<main>
    <article>

        <div id="scrollTop" class="isScrollShow hideBtn">
            <img src="/img/Arrow.svg" alt="Подняться вверх">
        </div>

        <section class="content">
                
                <h2>{{#if category.name}} {{category.name}} {{else}} Поиск {{/if}} </h2>   
                <div class="content-box">
                    {{#each productList}}
                    <div class="item">
                        <a href="/product/{{this.id}}">
                            <img class="picture" src="/img/product-images/{{this.images.[0]}}" alt="{{this.images.[0]}}">
                            <p class="name">{{this.productName}}</p>
                            <p class="category">{{this.category.name}}</p>
                            <p class="price">{{this.price}} ₽</p>
                            <a href="/product/{{this.id}}" class="addBusket">Подробнее</a>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <a class="more">Показать ещё</a>
            </section>
    </article>
</main>

    {{#>footer}}{{/footer}}

</body>
